<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng ký</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/dangnhap.css">
</head>

<body>
    <section class="section_1">
        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
            <div class="card card0 border-0">
                <div class="row d-flex">
                    <div class="col-lg-6">
                        <div class="card1 pb-5">
                            <div class="row"> <img src="images/kiotvietLogo (1).png" class="logo"
                                    style="width: 150px; height: 80px;"> </div>
                            <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img
                                    src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card2 card border-0 px-4 py-5">
                            <div class="row mb-4 px-3">
                                <h6 class="mb-0 mr-4 mt-2">ĐĂNG KÍ</h6>
                            </div>
                            <form action="dangky" method="post" class="was-validated">
                                <div class="form-group">
                                    <label class="mb-1">
                                        <h6 class="mb-0 text-sm">Họ và tên</h6>
                                    </label>
                                    <input type="text" minlength="5" maxlength="30" name="hovaten" class="form-control"
                                        id="formGroupExampleInput" placeholder="Nhập họ và tên" required>
                                    <div class="valid-feedback">Đúng.</div>
                                    <div class="invalid-feedback">Tối thiểu 5 kí tự - tối đa 30 kí tự.</div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="mb-1">
                                            <h6 class="mb-0 text-sm">Số điện thoại</h6>
                                        </label>
                                        <input type="text" minlength="10" maxlength="10" class="form-control"
                                            name="sodienthoai" placeholder="Nhập số điện thoại" required>
                                        <div class="valid-feedback">Đúng.</div>
                                        <div class="invalid-feedback">Đủ 10 kí tự.</div>
                                    </div>
                                    <div class="col">
                                        <label class="mb-1">
                                            <h6 class="mb-0 text-sm">Email</h6>
                                        </label>
                                        <input type="email" class="form-control" name="email" placeholder="Email"
                                            required>
                                        <div class="valid-feedback">Đúng.</div>
                                        <div class="invalid-feedback">Đúng định dạng email.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="mb-1">
                                        <h6 class="mb-0 text-sm">Chọn địa chỉ</h6>
                                    </label>
                                    <select class="form-control" name="diachi" id="exampleFormControlSelect1">
                                        <option>Đăk Lăk</option>
                                        <option>Hồ Chí Minh</option>
                                        <option>Đà Nẵng</option>
                                        <option>Đăk Nông</option>
                                        <option>Hà Nội</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="mb-1">
                                            <h6 class="mb-0 text-sm">Tên đăng nhập</h6>
                                        </label>
                                        <input type="text" minlength="3" maxlength="20" class="form-control"
                                            name="tendangnhap" placeholder="Nhập tên đăng nhập" required>
                                        <div class="valid-feedback">Đúng.</div>
                                        <div class="invalid-feedback">Tối thiểu 3 kí tự - tối đa 20 kí tự.</div>
                                    </div>
                                    <div class="col">
                                        <label class="mb-1">
                                            <h6 class="mb-0 text-sm">Mật khẩu</h6>
                                        </label>
                                        <input type="text" minlength="3" maxlength="20" class="form-control"
                                            name="matkhau" placeholder="Nhập mật khẩu" required>
                                        <div class="valid-feedback">Đúng.</div>
                                        <div class="invalid-feedback">Tối thiểu 3 kí tự - tối đa 20 kí tự.</div>
                                    </div>
                                </div>
                                <br>
                                <div class="row mb-3 px-3"> <button type="submit"
                                        class="btn btn-success text-center">Đăng
                                        ký</button> </div>
                                <div class="row mb-4 px-3"> <small class="font-weight-bold">Bạn đã có tài khoản? <a
                                            class="text-danger" href="dangnhap">Đăng nhập</a></small> </div>
                            </form>
                        </div>



                    </div>
                </div>
                <div class="bg-success py-4">
                    <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2" style="font-weight: bold;">Copyright &copy;
                            2020. Nguyễn Xuân Khoa.</small>
                        <div class="social-contact ml-4 ml-sm-auto"> <span class="fab fa-facebook mr-4 text-sm"></span>
                            <span class="fab fa-google-plus mr-4 text-sm"></span> <span
                                class="fab fa-linkedin mr-4 text-sm"></span> <span
                                class="fab fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>