<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css1/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css1/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  
</head>
<body>

  <div class="container-fluid">
      
            <nav class="navbar navbar-expand-sm navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="images/kiotvietLogo.png"></a>
</nav>
    
  </div>
  <div class="container-fluid">
        <nav class="navbar navbar-expand-sm bg-primary navbar-light">
  <!-- Brand -->
  

  <!-- Links -->
  <ul class="navbar-nav mr-0 ml-3">
    <li class="nav-item">
      <a class="nav-link fa fa-eye" href="index.html"> Tổng quan</a>
    </li>
     <li class="nav-item dropdown ml-3">
      <a class="nav-link fa fa-cube " href="#" id="navbardrop">
        Hàng hóa
      </a>
      <div class="dropdown-content">
        <a class="dropdown-item fa fa-align-justify " href="hanghoa"> &ensp;Danh mục</a>
        <a class="dropdown-item  fa fa-flask" href="#">&ensp;Danh mục thuốc</a>
        <a class="dropdown-item fa fa-tag" href="#">&ensp;Thiết lập giá</a>
      </div>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown ml-3">
      <a class="nav-link fa fa-columns " href="#" id="navbardrop">
        Giao dịch
      </a>
      <div class="dropdown-content">
        <a class="dropdown-item" href="#">Đặt hàng</a>
        <a class="dropdown-item" href="#">Hóa đơn</a>
        <a class="dropdown-item" href="#">Trả hàng</a>
        <a class="dropdown-item" href="#">Nhập hàng hàng</a>
        <a class="dropdown-item" href="#">Trả hàng nhập</a>
        <a class="dropdown-item" href="#">Xuất hủy</a>
      </div>
    </li>
    <li class="nav-item dropdown ml-3">
      <a class="nav-link fa fa-user-circle " href="#" id="navbardrop">
        Đối tác
      </a>
      <div class="dropdown-content">
        <a class="dropdown-item" href="#">Khách hàng</a>
        <a class="dropdown-item" href="#">Nhà cung cấp</a>
        <a class="dropdown-item" href="#">Bác sỹ</a>
      </div>
    </li>
    <li class="nav-item dropdown ml-3">
      <a class="nav-link fa fa-users " href="#" id="navbardrop">
        Nhân viên
      </a>
      <div class="dropdown-content">
        <a class="dropdown-item" href="#">Nhân viên</a>
        <a class="dropdown-item" href="#">Chấm công</a>
        <a class="dropdown-item" href="#">Thiết lập hoa hồng</a>
        <a class="dropdown-item" href="#">Bảng tính lương</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link fa fa-book" href="#"> Sổ quỹ</a>
    </li>
      <li class="nav-item dropdown ml-3">
      <a class="nav-link fa fa-table" href="#" id="navbardrop">
        Báo cáo
      </a>
      <div class="dropdown-content">
        <a class="dropdown-item" href="#">Cuối ngày</a>
        <a class="dropdown-item" href="#">Bán hàng</a>
        <a class="dropdown-item" href="#">Đặt hàng</a>
        <a class="dropdown-item" href="#">Hàng hóa</a>
      </div>
    </li>
     <li class="nav-item">
      <a class="nav-link fa fa-slideshare" href="#"> Facebook</a>
    </li>
     <li class="nav-item">
      <a class="nav-link  fa fa-shopping-basket" href="#"> Bán hàng</a>
    </li>
    
  </ul>
</nav>
  </div>

</body>

</html>